{% extends "base.html" %}

{% block container %}
    <!-- 플리 상세 타이틀 : 줄바꿈 없음 -->
    <div>
        <div class="title-type1">
            <div><p class="h2" id="plyy_title"></p></div>
        </div>
        <div class="plyy-info align both pd8">
            <div class="fs12" id="date"></div>
            <div class="fs12" id="curator"></div>
            <div class="fs12" id="total"></div>
        </div>
    </div>
    <!-- 플리 상세 목록 -->
    <div class="plyy">
        <div class="plyy__top">
            <div>
                <ul class="plyy__top__tag" id="tag_container"></ul>
            </div>
            <div class="plyy__top__intro pretendard" id="comment"></div>
        </div>
        <div class="plyy__bottom">
            <ul class="plyy__bottom__song-list" id="tracks"></ul>
        </div>
    </div>

    <!-- 플리상세 플로팅 바 -->
    <div class="fixed-floating">
        <div class="floating-plyy">
        </div>
    </div>

    <div id="tost_message">URL이 복사되었습니다!</div>

    <div id="logineed" class="modal hide" style="text-align: center;">
        <div class="modal__title">
            <span class="fs20">로그인 필요</span>
        </div>
        <div class="modal__text">
            <span class="fs14">로그인이 필요한 서비스입니다.<br>로그인 하시겠습니까?</span>
        </div>
        <div class="modal__btns align both">
            <button class="btn confirm" onclick="window.location.href='/login'">확인</button>
            <button class="btn cancel" onclick="closeModal()">취소</button>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="/static/js/Pdetailike.js"></script>
    <script>    
        let playlistLikeStates = {}; // 플레이리스트 좋아요 상태

        document.addEventListener('DOMContentLoaded', function() {
            let url = window.location.href;
            url = url.split('/');
            let plyyId = url[url.length - 1];
            fetchPlyyDetail(plyyId);
        });
        
        function fetchPlyyDetail(plyyId) {
            fetch(`/api/plyy/${plyyId}`)
            .then(response =>  response.json())
            .then(data => {
                total_rtime = 0;
                document.title = data.plyy.title + ' | PLYY';
                const sessionId = "{{ session.id }}";
                const pLiked = (sessionId !== '' && sessionId !== 'None') ? (data.plyy.p_isliked[plyyId] || false) : false;
                const plyyTitle = document.getElementById('plyy_title');
                const date = document.getElementById('date');
                const curator = document.getElementById('curator');
                const total = document.getElementById('total');
                const tagContainer = document.getElementById('tag_container');
                const comment = document.getElementById('comment');
                plyyTitle.textContent = data.plyy.title;
                if (data.plyy.update) {
                    date.innerHTML  = '수정일 : ' + data.plyy.update.replace(/-/g, '.');
                } else {
                    date.innerHTML  = '발행일 : ' + data.plyy.generate.replace(/-/g, '.');
                }
                curator.innerHTML = '큐레이터 : ' + data.plyy.curator;
                comment.textContent = data.plyy.comment;
                const genre = document.createElement('li');
                genre.textContent = '# ' + data.plyy.genre;
                genre.classList.add('badge', 'tag', 'fs12');
                genre.setAttribute('onclick', `location.href="/search/plyy?q=%23+${data.plyy.genre}"`);
                genre.style.cursor= 'pointer';
                tagContainer.appendChild(genre);
                data.tags.forEach(data => {
                    const tag = document.createElement('li');
                    tag.textContent = '# ' + data.name;
                    tag.classList.add('badge', 'tag', 'fs12');
                    tag.setAttribute('onclick', `location.href="/search/plyy?q=%23+${data.name}"`);
                    tag.style.cursor= 'pointer';
                    tagContainer.appendChild(tag);
                });
                const lst = document.getElementById('tracks')
                data.tracks.forEach(track => {
                    const newItem = document.createElement('li');
                    newItem.innerHTML =
                        `<a href="./${plyyId}/${parseInt(track.num) + 1}" class="plyy__bottom__song-list__card">` +
                            '<div class="plyy__bottom__song-list__card__img">' + 
                                `<img src="${track.img}">` +
                            '</div>' +
                            '<div class="plyy__bottom__song-list__card__info">' +
                                '<div class="fs14-bold">' + track.title + '</div>' +
                                '<div class="fs14">' + track.artist + '</div>' +
                            '</div>' +
                            '<div class="plyy__bottom__song-list__card__runtime fs14">' + `${String(song_time(track.rtime))}` + '</div>' +
                        '</a';
                    lst.appendChild(newItem);
                    total_rtime = total_rtime + parseInt(track.rtime);
                })
                total.innerHTML = data.tracks.length + '곡 | ' + plyy_time(total_rtime);
                
                const pFloatLike = document.querySelector('.fixed-floating .floating-plyy');
                pFloatLike.innerHTML = `<div><button class="btn__float__arrow__left" aria-label="뒤로가기"></button></div>
                                        <div class="like-group">
                                            <button class="btn-plyy-heart--${pLiked? 'fill' : 'unfill'}" id="like-${plyyId}" aria-label="플레이리스트 좋아요 수"></button>
                                            <span class="fs12" id="plike"></span>
                                        </div>
                                        <div><button class="btn__float__share--black" aria-label="플레이리스트 공유하기"></button></div>
                                        `
                const plike = document.getElementById('plike');
                plike.textContent = data.plyy.heart;

                let plikeButn = document.getElementById(`like-${plyyId}`)
                plikeButn.addEventListener('click',function() {
                    const loggedIn = "{{ session['id'] }}";
                        if (loggedIn) {
                            PdetailToggleLike("{{ session['id'] }}",plyyId);
                        } else {
                            const modal = document.getElementById('logineed')
                            modal.classList.remove('hide');
                            modal.style.display = 'flex'; // 모달을 화면에 표시
                            modal.style.position = 'fixed';
                            modal.style.top = '45%'; // 화면 중앙에 위치
                            modal.style.left = '50%'; // 화면 중앙에 위치
                            modal.style.transform = 'translate(-50%, -50%)'; // 중앙 정렬
                        }
                    })

                    const back = document.querySelector('.floating-plyy .btn__float__arrow__left')
                    const share = document.querySelector('.floating-plyy .btn__float__share--black')
                    let tostMessage = document.getElementById('tost_message');

                    back.addEventListener('click',function() {
                        window.location.href = '/'
                    })

                    //2. 토스트 메시지 노출-사라짐 함수 작성
                    function tostOn(){
                        navigator.clipboard.writeText(window.location.href)
                        tostMessage.classList.add('active');
                        setTimeout(function(){
                            tostMessage.classList.remove('active');
                        },1000);
                    }

                    //3. 토스트 버튼에 이벤트 연결
                    share.addEventListener('click',function(){
                        tostOn()
                    });
                })
            .catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };

        function closeModal() {
            document.getElementById('logineed').classList.add('hide');
        }

    </script>
    <script src="/static/js/runtime.js"></script>

{% endblock %}