{% extends "base.html" %}

{% block content %}

<!-- 큐레이터 상세 -->
<div class="c-img">
    <div class="c-img__info">
        <div class="c-img__info__curator align left">
            <span class="fs20">Curator</span>
            <span class="fs20-bold"></span>
        </div>
        <p class="fs14"></p>
    </div>
</div>
<!-- 큐레이터 상세 타이틀 -->
<div class="title-type2">
    <div class="align both">
        <!-- 여기에 동적으로 추가될 HTML -->
    </div>
</div>
<!-- 플리카드 -->
<ul class="plyy-card mg32" id="mainList">
    <div id="session-data" data-session-id="{{ session['id'] }}" style="display: none;"></div>
</ul>

<div id="tost_message">URL이 복사되었습니다!</div>

<!-- 큐레이터상세 플로팅 바 -->
<div class="fixed-floating">
    <div class="floating-curator">
        <div><button class="btn__float__arrow__left" aria-label="뒤로가기"></button></div>
        <!-- <div class="like-group">
            <button class="btn__float__like" aria-label="큐레이터 좋아요 수"></button>
            <span class="fs12">98</span>
        </div> -->
        <div><button class="btn__float__share--black" aria-label="큐레이터 공유하기"></button></div>
    </div>
</div>

<div id="logineed" class="modal hide" style="text-align: center;">
    <div class="modal__title">
        <span class="fs20">로그인 필요</span>
    </div>
    <div class="modal__text">
        <span class="fs14">로그인이 필요한 서비스입니다.<br>로그인 하시겠습니까?</span>
    </div>
    <div class="modal__btns align both">
        <button class="btn confirm" onclick="window.location.href='/login'">확인</button>
        <button class="btn cancel" onclick="closeModal()">취소</button>
    </div>
</div>


{% endblock %}

{% block script %}
    <script src="/static/js/cdetailike.js"></script>
    <script src="/static/js/fetchPlyy.js"></script>
    <script src="/static/js/runtime.js"></script>
    <script src="/static/js/tag.js"></script>
    <script src="/static/js/plike.js"></script>
    <script src="/static/js/cfloating.js"></script>
    <script>
        let curatorLikeStates = {}; // 큐레이터 좋아요 상태
        let playlistLikeStates = {}; // 플레이리스트 좋아요 상태


        document.addEventListener('DOMContentLoaded', function() {
            let url = window.location.href;
            url = url.split('/');
            let cid = url[url.length - 1];
            fetchCuratorDetail(cid);
            const mainList = document.getElementById('mainList');
            fetchPlyy(`/api/c_plyy/${cid}`) 
        });

        function fetchCuratorDetail(cid) {
        fetch(`/plyy/api/curator/${cid}`)
        .then(response => response.json())
        .then(data => {
            const cid = data.curator.c_info.c_id;
            const cLiked = "{{ session.id }}" && data.curator.c_info.c_liked[cid] || false;
            const cName = data.curator.c_info.c_name;
            document.title = cName + ' | plyy';
            
            // 큐레이터 상세
            const cImg = document.getElementsByClassName('c-img')[0];
            const cImg_url = `/static/cardimage/${data.curator.c_info.c_img}`;
            cImg.style.backgroundImage = `url(${cImg_url})`;
            const c = document.getElementsByClassName('fs20-bold')[0];
            c.innerHTML = cName;
            const cTag = document.getElementsByClassName('fs14')[0];
            const hashtg = data.curator.c_info.c_tags.join(" ");
            cTag.innerHTML = hashtg;
            
            // 큐레이터 상세 타이틀 
            const cDetail = document.querySelector('.title-type2 .align.both');
            cDetail.innerHTML = `<div class="title-type2__info fs14">발행 플리 : <span class="fs14">${data.curator.c_info.c_plyys}</span></div>
                                <div class="title-type2__like">
                                    <button class="btn-curator-heart--${cLiked ? 'fill' : 'unfill'}" id="like-${cid}"></button>
                                    <span class="fs14" id="likes">${data.curator.c_info.c_likes}</span>
                                </div>`;
            
            // 큐레이터 좋아요 버튼 클릭 이벤트 처리
            const likeButton = document.getElementById(`like-${cid}`);
            if (likeButton) {
                likeButton.addEventListener('click', function() {
                    const loggedIn = "{{ session['id'] }}";
                    if (loggedIn) {
                        CdetailToggleLike("{{ session['id'] }}", cid);
                    } else {
                    // 클래스로 모달 요소를 선택하고 첫 번째 요소를 선택
                        const modal = document.getElementById('logineed')
                        modal.classList.remove('hide');
                        modal.style.display = 'flex'; // 모달을 화면에 표시
                        modal.style.position = 'fixed';
                        modal.style.top = '45%'; // 화면 중앙에 위치
                        modal.style.left = '50%'; // 화면 중앙에 위치
                        modal.style.transform = 'translate(-50%, -50%)'; // 중앙 정렬
                    }
                });
            }

        })
        .catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'));
    }

        function closeModal() {
                            document.getElementById('logineed').classList.add('hide');
                        }

</script>

{% endblock %}
